body,html{
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-height: 100vh;
  /* background:#5E5E5E; */
  background-color: #948082;
}

body {
  /* background-image: url(/img/mapa.png); */
  background-repeat: no-repeat;
  background-position: 95% 100px;
  background-size: 40%;
}
@media screen and (max-width: 701px) {
  body {
    background-position: 0px 60px;
    background-size: 200%;
  }
}

input, button, select, .card, .list-wrapper, .rounded {
  border-radius: 24px !important;
}

canvas:not(.portrait) {
  max-height: 90vh;
}

@media screen and (max-width: 801px) {
  .map {
    padding-top: 25px;
  }
}

/* .map svg { */
/*   position: fixed; */
/*   top: 100px; */
/*   width: 40%; */
/* } */

.map svg g:hover > path {
  filter: brightness(90%);
}

.map svg path {
  transition: 200ms;
}

.map svg #path5296 {
  visibility: hidden;
}
.map svg path.in_highlight:not(.highlighted) {
  filter: brightness(50%);
}

.map svg path.highlighted {
  transform: translate(1px, 1px) scale(1.009);
  filter: brightness(100%);
  cursor: pointer;
}

.map svg g > path:hover:not(#path4940):not(.highlighted) {
  transform: translate(1px, 1px) scale(1.005);
  filter: brightness(50%);
  cursor: pointer;
}
.map svg g > path:hover:not(#path4940):not(.in_highlight) {
  filter: brightness(100%);
}

.map svg g > path.in_highlight:hover:not(#path4940) {
  filter: brightness(60%);
}

.navbar, .provedores thead {
  background-color: #FE6B01;
}

.front-form{
    padding-top: 60px;
}

.front-cards .card-title,
.front-cards .card-title span {
  text-align: center;
  margin: 0;
}

.list-wrapper {
  padding-top: 12px;
  padding-bottom: 5px;
  overflow: hidden;
}

#homologated-provider-list {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
}

.btn:not(.normal) {
    background-color: #FE6B01;
    border-color: #FE6B01;
    margin-top: 2%;
}
.btn:not(.normal):hover{
    background-color: orange;
    border-color: orange;
}

.btn:not(.normal):active{
    background-color: orange;
}

.result{
    height: 100px;
    padding-top: 65px;
}

.statistics {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 701px) {
  .statistics {
    max-height: unset;
  }
}

.table td {
  word-break: break-all;
}

.table th {
  max-width: 250px;
  word-break: break-word;
}

.statistics {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 701px) {
  .statistics {
    max-height: unset;
  }
}

.table td {
  word-break: break-all;
}

.table th {
  max-width: 250px;
  word-break: break-word;
}

.provedores {
  border-radius: 24px;
}

.provedores th{
  text-align: center;
  border-width: 0px;
  color: #fff;
}

.provedores td{
  padding: 0;
}

.provedores td button{
  padding: 5px;
  text-align: center;
  width: 100%;
}

.provedores tbody tr:first-child > td {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.provedores tbody tr:last-child > td {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.provedores tbody tr:last-child > td {
  border-width: 0px;
}

.provedores .separator {
  width: 10px;
}
.provedores .separator::after {
  content: "\00a0";
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  background: #F24405;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
  background: #B3AFB3;
}
::-webkit-scrollbar-track{
  background: #FFFFFF;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
