body,html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
    background:#5E5E5E;
}

body {
  background-image: url(/turing-fbr/img/mapa.png);
  background-repeat: no-repeat;
  background-position: 95% 100px;
  background-size: 40%;
}
@media screen and (max-width: 701px) {
  body {
    background-position: 0px 60px;
    background-size: 200%;
  }
}

.navbar{
    background-color: #FE6B01;
 }

.front-form{
    padding-top: 80px;
}

.btn:not(.normal) {
    background-color: #FE6B01;
    border-color: #FE6B01;
    margin-top: 2%;
}
.btn:not(.normal):hover{
    background-color: orange;
    border-color: orange;
}

.btn:not(.normal):active{
    background-color: orange;
}

.result{
    height: 100px;
    padding-top: 65px;
}

.statistics {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 701px) {
  .statistics {
    max-height: unset;
  }
}

.table td {
  word-break: break-all;
}

.table th {
  max-width: 250px;
  word-break: break-word;
}
